<!-- Validation failure messages -->
<% if @pantry_item.errors.any? %>
  <% @pantry_item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Pantry Item</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_pantry_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for userid -->
      <div class="form-group">
        <label for="userid" class="control-label">
          Userid
        </label>

        <%= select_tag(:userid, options_from_collection_for_select(User.all, :id, :username, @pantry_item.userid), :class => "form-control") %>
      </div>

      <!-- Label and input for food_id -->
      <div class="form-group">
        <label for="food_id" class="control-label">
          Food
        </label>

        <input type="text" id="food_id" name="food_id" placeholder="Food" class="form-control" value="<%= @pantry_item.food_id %>">
      </div>

      <button class="btn btn-success">
        Create Pantry Item
      </button>
      or
      <a href="/pantry_items">Cancel</a>
    </form>
  </div>
</div>
